body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height : 100vh;
    background-image: url(anime.jpg);
    background-position: center;
    background-size: contain;
}

*{
    margin:0;
  font-family: "Cormorant Garamond", serif;}

#calculator{
    width:60vh;
    background-color: rgb(215, 215, 186);
    border-radius: 10%;
    overflow: hidden;
}

#keys{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    padding:20px;
    border: none;
    border-radius: 10px;
    place-items: center;
}

div button{
    width:100px;
    height:100px;
    border-radius: 50%;
    border:none;
    background-color: rgb(48, 37, 37);
    color:white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s;
}

div button:hover
{
      background-color: rgb(89, 68, 68);
}

div button:active{
    background-color: rgb(244, 183, 183);
}

#display{
    width:100%;
    height:110px;
    background-color: rgb(42, 44, 35);
    color:rgb(255, 255, 255);
    padding:20px;
    font-size:4rem;
    text-align: left;
    font-weight: bold;
    font-family: "Cormorant Garamond", serif;
    cursor: pointer;
}

.operator{
    background-color: rgb(176, 69, 33);}
   

.logos{
    background-color: rgb(68, 68, 73);
     transition: background-color 1s, transform 2s;

}

.logos:hover{
     background-color: rgb(142, 142, 158);
     transform : scale(1.1);
}

.logos:active{
      background-color: rgb(208, 208, 232);
}

.logos2{
    background-color: rgb(77, 98, 145);
     transition: background-color 1s, transform 2s;

}

.logos2:hover{
     background-color: rgb(142, 142, 158);
     transform : scale(1.1);
}

.logos2:active{
      background-color: rgb(134, 134, 221);
}

.text-grid{
    display:flex;
    justify-content: center;
    align-items:center;
}

.text{
    font-size: 1rem;
    cursor:pointer;
    font-style: italic;
    transition: color 1s, transform 1s;
/*
    text-align: center;
    height:100%;
    margin:0 auto;
    justify-self: center;
    place-self: center; */
}

.text:hover{
    color: rgb(107, 67, 75);
    transform: scale(1.1);
}


a{
    color:inherit;
    text-decoration: none;
}

@media(min-width : 1001px)
{
    #calculator{
        width: 55vh;
    }
    div button{
        height:60px;
        width:60px;
        font-size: 1.2rem;
    }
}

@media(min-width : 851px) and (max-width : 1000px)
{
    #calculator{
        width: 45vw;
    }
    div button{
        height:60px;
        width:60px;
        font-size: 1.2rem;
    }
}

@media(min-width : 570px) and (max-width:850px)
{
    #calculator{
        width: 60vw;
    }
    div button{
        height:60px;
        width:60px;
        font-size: 1.2rem;
    }
}


@media(max-width : 550px)
{
    #calculator{
        width:90vw;
    }
    div button{
        height:60px;
        width:60px;
        font-size: 1.2rem;
    }
}

@media(max-width : 376px)
{
    #keys{
        gap:0px;
        padding:5px;
    }
    #calculator{
        width:70vw;
    }
    div button{
        height:40px;
        width:40px;
        font-size: 0.8rem;
    }
}


@media(max-width : 298px)
{
    #calculator{
        width:60vw;
    }
    div button{
        height:30px;
        width:30px;
        font-size: 10px;
    }

    .text{
        font-size:10px;
    }

    #display{
        font-size:2.5rem;
    }
}